@charset "utf-8";


.contents{
    max-width: 1280px;
    max-height: 530px;
}
.container{
    max-width: 1280px;
    width: 100%;
}
html{
    background-color: #333;
    color: #c2c2c2;
    font-weight: 500;
    font-size: 6.25%;
}
body{
    font-size: 16rem;
}
header{
    display: flex;
    section{
        width: 100%;
        display: flex;
    }
    .hd_top{
        width: 100%;
        height: 50px;
        ul{
            display: flex;
        }
    }
    .hd_bottom{

    }
}
.contents{
    div{
        
    }
}

*{
    margin: 0;padding: 0; list-style: none;
}
main{
    .swiper {
        height: 30vw;
        .swiper-wrapper{
            display: flex;
            justify-content: center;
            // align-items: center;
            .swiper-slide{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45vw;
                height: 30vw;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.swiper-button-prev{
    width: 80%;
}